:root {
  --background-color: #29293b;
  --orange: #ff8a00;
  --green: #3fa730;
  --green-700: #2e7d1a;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

header {
  padding: 1rem 3rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  gap: 3rem;

  & .logo {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.nav-links {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  gap: 3rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 0.5rem 0;
  transition: all 0.3s ease;

  &:hover {
    color: var(--green);
  }
}

section {
  padding: 0 3rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  & h2 {
    flex-basis: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  & p {
    max-width: 600px;
    margin: 2rem 0;
  }
}

.hero {
  margin: 2rem 0;
  font-size: 2rem;

  &>* {
    flex-basis: 50%;
  }
}

.hero-text {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 1rem;

  & p {
    font-size: 1rem;
    line-height: 2;
  }
}

.btn {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1.5rem 2.5rem;
  transition: all 0.3s ease;
  border: none;
  border-radius: 9999px;

  &:hover {
    background-color: var(--green);
  }
}

.btn-green {
  background-color: var(--green);

  &:hover {
    background-color: var(--green-700);
  }
}

.btn-green-900 {
  background-color: var(--green-700);
}

.btn-orange {
  background-color: var(--orange);
}

.hero-image {
  display: grid;
  place-items: center;

  & img {
    width: 75%;
  }
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--orange);
  clip-path: circle(250px at right 100px bottom 500px);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.waves {
  fill: var(--green);
}

.nosotros {
  background-color: var(--green);
  flex-flow: column nowrap;
}

.galery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
  place-items: center;
  & .food {
    max-width: 250px;
    padding: 2rem;
    border-radius: 50px 50px 25px 25px;
    background-color: rgba(0, 0, 0, 0.1);
    user-select: none;
    transition: all 0.3s ease;
    &:hover {
      z-index: 5;
      transform: scale(1.025);
    }
  }
  & img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 100%;
  }
}

.waves-registrarse,
.registrarse {
  background-color: var(--orange);
}

.registrarse {
  display: flex;
  flex-flow: column nowrap;
  padding-bottom: 2rem;
}

.form-signup {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;

  & input {
    padding: 1rem 2rem;
    border: none;
    border-radius: 9999px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
    outline: none;
  }
}
